<hr />
<ul>
    <li><a href="{{ path('les_polypodes_app_create', {serverName: app.request.get('serverName')}) }}">Create</a></li>
    <li><a href="{{ path('les_polypodes_app_update', {serverName: app.request.get('serverName'), id:1}) }}">Update</a></li>
    <li><a href="{{ path('les_polypodes_app_list', {serverName: app.request.get('serverName')}) }}">List</a></li>
    <li><a href="{{ path('les_polypodes_app_form', {serverName: app.request.get('serverName')}) }}">Form</a></li>
</ul>
