Events | {{ app.request.get('serverName') }} | {{ calendarName }}

<h2>Remote iCal Objects call</h2>
{% for event in events %}
    <pre style="display:inline-block;margin:20px;">{{ event.data }}</pre>
{% endfor %}

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
