(sabre) ListEvent

<h2>Remote iCal (Sabre) Objects call</h2>
{% for calendar in calendars %}
    <pre>{{ dump(calendar) }}</pre>
{% endfor %}

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
