List via SimpleCalDAV

<h2>Remote calendars</h2>
<ul>
	{% for calendar in calendars %}
	    <li><a href="{{ path('les_polypodes_app_list_event', {name:calendar.displayname}) }}">{{ calendar.displayname }} (ID: {{ calendar.calendarid }})</a></li>
	{% endfor %}
</ul>

{{ include('@LesPolypodesApp/Events/common/menu.html.twig') }}
